@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --gray: #1F1F1F;
    --purple: #AF00FF;
    --blue: #3A7FFF;
    --lightblue: #E2ECFF;
    --yellow: #FFBE0C;
    --orange: #FF5608;
    --green: #96BE1E;
    --purpleh: #8d00ce;
    --purpled: #4d3646;
    --lpurple: #F7E5FF;
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
html{
    overflow-x: hidden;
}
/*Mobile Nav*/
.hamburger{
    font-size: 60px;
    color: #1F1F1F;
}
.collapsing{
    transition: 1s;
}

/*Main w/ Video*/
.main-header p{
    font-size: 60px;
    font-family: Jost, sans-serif;
    color: black;
    font-weight: 500;
    margin-bottom: -10px;
}
.span1 {
    animation: mh1 16s linear infinite;
    font-weight: 700;
}
.span2{
    animation: mh2 16s linear infinite;
    font-weight: 700;
}
.span3 {
    animation: mh3 16s linear infinite;
    font-weight: 700;
}
.span4 {
    animation: mh4 16s linear infinite;
    font-weight: 700;
}
.video1{
    border-radius: 15px;
}
header{
    background-color: white;
    height: 111px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.karzhynlogo{
    height: 64px;
    align-items: center;
}
.nav-links{
    font-family: Jost, sans-serif;
    color: black;
    font-weight: 700;
}
.nav1,.nav2,.nav3,.nav4,.nav5{
    height: 111px;
    background-color: transparent;
    transition: background-color 0.3s;
}
.nav1:hover{
    background-color: var(--purple);
}
.nav2:hover{
    background-color: var(--blue);
}
.nav3:hover{
    background-color: var(--yellow);
}
.nav4:hover{
    background-color: var(--orange);
}
.nav5:hover{
    background-color: var(--green);
}
.nav1:hover a,.nav2:hover a, .nav4:hover a{
    color: white;
}
.nav3:hover a,.nav5:hover a{
    color: black;
}
.empty-space-small{
    height: 40px;
}
.empty-space{
    height: 80px;
}
.hero-container{
    padding: 0;
}
.hero-bg{
    background-color: var(--yellow);
}
.hero-bg > div{
    position: relative;
}
.hero-h1 {
    font-family: Jost, sans-serif;
    font-weight: 700;
    font-size: 54px;
}
.rounded-1{
    border-radius: 25px;
}
.rounded-2{
    border-radius: 15px;
}
.hero-p {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 28px;
}
.mw1200{
    max-width: 1200px;
}
.mw600{
    max-width: 600px;
}
.herosub-gap{
    margin-right: 20px;
}
.herosub-h2{
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 28px;
}
.herosub-p{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.trusted{
    background-color: var(--purple);
    min-height: 400px;
}
.trusted-p{
    color: white;
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 48px;
}
.logo-container .oc1{
    height: auto;
    width: 100px;
}
.logo-container .oc2{
    height: auto;
    width: 120px;
}
.logo-container .oc3{
    height: auto;
    width: 70px;
}
.logo-container .oc4{
    height: auto;
    width: 150px;
}
.logo-container .oc5{
    height: auto;
    width: 80px;
}
.logo-container .oc6{
    height: auto;
    width: 180px;
}
.logo-container .oc7{
    height: auto;
    width: 60px;
}
.logo-container .oc8{
    height: auto;
    width: 180px;
}
.logo-container .oc9{
    height: auto;
    width: 120px;
}
.c-container{
    max-height: 400px;
}
/*Testimonials*/
.testimonials-container{
    height:480px;
}
.testimonials{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100%;
}
.carousel{
  background: transparent;
  height: 350px;
  width: 100%;
}
.carousel-cell {
  position: relative;
  width: 50%;
  height: 300px;
  margin: 20px 10px 20px 0;
  padding: 36px;
  border:1px solid #e3e8e9;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-cell p{
    font-family: Lato;
    font-size: 18px;
}
.carousel-cell i{
    color: #af00ff;
    background-color: #f7e6ff;
}
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.profile-img{
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10);
  border-radius: 65536px;
  margin-left: 40px;
  /*filter: grayscale(100%);*/
}
/*Gradients*/
.gradient-left{
    position: absolute;
    z-index: 2;
    left:0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    height: 100%;
    width: 8%;
    content: '';
}
.gradient-right{
    position: absolute;
    z-index: 2;
    right:0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    height: 100%;
    width:8%;
    content: '';
}
.gray-text{
    color: #6e7f87;
}
.wmkd{
    height: 100%;
    border: solid 1px #6e7f8766;
}
/*Get In Touch*/
.gitbg{
    position: relative;
    background-color: var(--purpleh);
    /*background-image: url("img/getintouch_bg.PNG");*/
    z-index: -100;
}
textarea{
    min-height: 100px;
}
.quickshadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.glasspurple{
    /* From https://css.glass */
position: relative;
z-index: 1;
background: rgba(175, 0, 255, 0.36);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
}
.getintouch-form{
    background-color: white;
    border-radius: 25px;
    max-width: 600px;
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/* From https://css.glass
background: rgba(255, 255, 255, 0.73);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.5px);
-webkit-backdrop-filter: blur(12.5px);
border: 1px solid rgba(255, 255, 255, 0.25);
*/
}
.getintouch h2{
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 28px;
}
.getintouch p, label{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:var(--purpleh);
}
.getintouch-form > h2{
    color:var(--purple);
}
.getintouch-form span{
    color:var(--purpleh);
    font-size: 24px;
}
.formp{
    font-family: Lato, sans-serif;
    font-size: 8px;
}
textarea, input{
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--purple);
    background-color: var(--lpurple);
}
.input-button{
    background-color: var(--purple);
}
.form-container{
    position: relative;
}
.footer{
    position: relative;
    z-index: -100;
    background-color: var(--white);
    height: auto;
}
.footer-a p{
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 16px;
}
.footer-a a{
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-a a:hover{
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: underline;
}
section p{
    color: black;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.services p, .contact p{
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.button_so { 
    border: transparent;
    background-color: var(--purple);
    margin-top: 10px;
    transition: 0.3s;
}
.button_so p{
    font-family: Jost, sans-serif;
    color: white;
}
.button_so:hover{
    border: transparent;
    background-color: var(--purpleh);
}
.button_so_i{ 
    border: 1px solid white;
    background-color: var(--purple);
    margin-top: 10px;
    transition: 0.3s;
}
.button_so_i p{
    font-family: Jost, sans-serif;
    color: white;
}
.button_so_i:hover{
    border: 1px solid white;
    background-color: white;
}
.button_so_i:hover p{
    font-family: Jost, sans-serif;
    color: var(--purple);
}
.n-extend1, .n-extend2, .n-extend3, .n-extend4{
    width: 100%;
    height: 135px;
    background-color: white;
    bottom: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.n-extend1:hover{
    height: 278px;
}
.n-extend2:hover{
    height: 225px;
}
.n-extend3:hover{
    height: 260px;
}
.n-extend4:hover{
    height: 238px;
}
.c_co1,.c_co2,.c_co3,.c_co4,.c_co5,.c_co6{
    background-color: transparent;
    transition: 0.3s;
}
.c_co1:hover,.c_co2:hover,.c_co3:hover,.c_co4:hover,.c_co5:hover,.c_co6:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--purple);
}
.c_co1:hover p,.c_co2:hover p,.c_co3:hover p,.c_co4:hover p,.c_co5:hover p,.c_co6:hover p{
    color: white;
}
.c_co1:hover h4,.c_co2:hover h4,.c_co3:hover h4,.c_co4:hover h4,.c_co5:hover h4,.c_co6:hover h4{
    color: white;
}
.text-purple{
    color: var(--purple);
}
.text-purpleh{
    color: var(--purpleh);
}
.text-purpled{
    color: var(--purpled);
}
.info p, .owfaq p{
    color: var(--purpled);
}
.p-img-container{
    position: relative;
    overflow: hidden;
    height: 500px;
}
.p-img{
    height: auto;
    width: auto;
    position: absolute;
}
.p-img1{
    height: 100%;
    width: auto;
    position: absolute;
    transform: translateX(-78px);
}
/*Decal Section*/
.decal1{
    position: absolute; 
    transform: rotate(90deg);
    z-index: -10;
    right: -100px;
    top: 134px;
    /*animation: decal1anim 8s ease-in-out infinite;*/
}
.decal1a{
    position: absolute; 
    transform: rotate(90deg);
    z-index: -10;
    left: -150px;
    top: 140px;
    /*animation: decal1anim 8s ease-in-out infinite;*/
}
.decal2{
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 60px;
}
.decal3{
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    right: -30px;
    top: 480px;
}
.decal_s1{
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    left: -159px;
    top: -90px;
}
.decal_s2{
    transform: rotate(90deg);
    position: absolute;
    z-index: -10;
    right: -159px;
    top: -50px;
}
.decal_blob1 img{
    transform: rotate(200deg);
    position: absolute;
    z-index: -1;
    right: 40px;
    top: 0px;
    
}
.decal_blob2 img{
    transform: rotate(20deg);
    position: absolute;
    z-index: -1;
    right: 5px;
    top: 40px;
    width: 88%;
    height: 88%;
}
.bg-purple {
    background-color: var(--purple);
}
.bg-green {
    background-color: var(--green);
}
.contact-link1 {
    color: var(--purple);
    font-size: 26px;
    font-family: Lato, sans-serif;
}
.contact-link1:hover {
    color: var(--purpled);
    font-size: 26px;
    font-family: Lato, sans-serif;
}
/*keyframes*/
@keyframes decal1anim {
    0% {
        right: -165px;
    }
    50% {
        right: -230px; /* Adjust the distance to move left */
    }
    100% {
        right: -165px;
    }
}
@keyframes mh1 {
    0% {color: black;}
    1% {color: black;}
    2% {color: var(--purple);}
    25% {color: var(--purple);}
    27% {color: black;}
    50% {color: black;}
    75% {color: black;}
    100% {color: black;}
}
@keyframes mh2 {
    0% {color: black;}
    23% {color: black;}
    25% {color: var(--blue);}
    50% {color: var(--blue);}
    52% {color: black;}
    75% {color: black;}
    100% {color: black;}
}
@keyframes mhl2 {
    0% {fill: black;}
    23% {fill: black;}
    25% {fill: var(--blue);}
    50% {fill: var(--blue);}
    52% {fill: black;}
    75% {fill: black;}
    100% {fill: black;}
}
@keyframes mh3 {
    0% {color: black;}
    25% {color: black;}
    48% {color: black;}
    50% {color: var(--yellow);}
    75% {color: var(--yellow);}
    77% {color: black;}
    100% {color: black;}
}
@keyframes mh4 {
    0% {color: var(--orange);}
    2% {color: black;}
    25% {color: black;}
    50% {color: black;}
    73% {color: black;}
    75% {color: var(--orange);}
    100% {color: var(--orange);}
}
/*Responsive*/
@media (max-width: 1199px) {
    .main-header p{
        font-size: 49px;
        font-family: Jost, sans-serif;
        font-weight: 500;
    }
    .main-header .span1, .main-header .span1, .main-header .span3, .main-header .span4{
        font-size: 49px;
        font-family: Jost, sans-serif;
        font-weight: 600;
    }
}
@media (max-width: 999px) {
    .main-header p{
        font-size: 39px;
        font-family: Jost, sans-serif;
        font-weight: 500;
    }
    .main-header .span1, .main-header .span1, .main-header .span3, .main-header .span4{
        font-size: 39px;
        font-family: Jost, sans-serif;
        font-weight: 600;
    }
}
@media (max-width: 799px) {
    .main-header p{
        font-size: 28px;
        font-family: Jost, sans-serif;
        font-weight: 500;
    }
    .main-header .span1, .main-header .span1, .main-header .span3, .main-header .span4{
        font-size: 28px;
        font-family: Jost, sans-serif;
        font-weight: 600;
    }
}
@media (max-width: 399px) {
    .main-header p{
        font-size: 2rem;
        font-family: Jost, sans-serif;
        font-weight: 500;
    }
    .main-header .span1, .main-header .span1, .main-header .span3, .main-header .span4{
        font-size: 2rem;
        font-family: Jost, sans-serif;
        font-weight: 600;
    }
}