@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --gray: #1F1F1F;
    --purple: #AF00FF;
    --blue: #3A7FFF;
    --lightblue: #E2ECFF;
    --yellow: #FFBE0C;
    --orange: #FF5608;
    --green: #96BE1E;
    --purpleh: #8d00ce;
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/*Main w/ Video*/
.main-header p{
    font-size: 60px;
    font-family: Jost, sans-serif;
    color: black;
    font-weight: 500;
    margin-bottom: -10px;
}
.main-header span{
    font-family: Jost, sans-serif;
    color: black;
    font-weight: 600;
}
.span1 {
    animation: mh1 16s linear infinite;
}
.span2{
    animation: mh2 16s linear infinite;
}
.mhi2{
    animation: mhl2 16s linear infinite;
}
.span3 {
    animation: mh3 16s linear infinite;
}
.span4 {
    animation: mh4 16s linear infinite;
}
.video1{
    border-radius: 15px;
}
header{
    background-color: white;
    height: 99px;
    padding: 0;
}
.karzhynlogo{
    height: 64px;
    align-items: center;
}
.nav-links{
    font-family: Jost, sans-serif;
    color: black;
    font-weight: 700;
}
.nav1,.nav2,.nav3,.nav4,.nav5{
    background-color: transparent;
    transition: background-color 0.3s;
}
.nav1:hover{
    background-color: var(--purple);
}
.nav2:hover{
    background-color: var(--blue);
}
.nav3:hover{
    background-color: var(--yellow);
}
.nav4:hover{
    background-color: var(--orange);
}
.nav5:hover{
    background-color: var(--green);
}
.nav1:hover a,.nav2:hover a, .nav4:hover a{
    color: white;
}
.nav3:hover a,.nav5:hover a{
    color: black;
}
.empty-space-small{
    height: 40px;
}
.empty-space{
    height: 80px;
}
.hero-container{
    padding: 0;
}
.hero-bg{
    background-color: var(--yellow);
}
.hero-bg > div{
    position: relative;
}
.hero-h1 {
    font-family: Jost, sans-serif;
    font-weight: 700;
    font-size: 54px;
}
.rounded-1{
    border-radius: 25px;
}
.rounded-2{
    border-radius: 15px;
}
.hero-p {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 28px;
}
.mw1200{
    max-width: 1200px;
}
.mw600{
    max-width: 600px;
}
.herosub-gap{
    margin-right: 20px;
}
.herosub-h2{
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 28px;
}
.herosub-p{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.trusted{
    background-color: var(--purple);
    min-height: 400px;
}
.trusted-p{
    color: white;
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 48px;
}
.logos img{
    width: auto; /* Set your desired width */
    height: auto; /* Allow the height to adjust proportionally */
}
.logo-container{
    height: 64px;
}
.c-container{
    max-height: 400px;
}
/*Testimonials*/
.testimonials-container{
    height:480px;
}
.testimonials{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100%;
}
.carousel{
  background: transparent;
  height: 350px;
  width: 100%;
}
.carousel-cell {
  position: relative;
  width: 50%;
  height: 300px;
  margin: 20px 10px 20px 0;
  padding: 36px;
  border:1px solid #e3e8e9;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-cell p{
    font-family: Lato;
    font-size: 18px;
}
.carousel-cell i{
    color: #af00ff;
    background-color: #f7e6ff;
}
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.profile-img{
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.10);
  border-radius: 65536px;
  margin-left: 40px;
  /*filter: grayscale(100%);*/
}
/*Gradients*/
.gradient-left{
    position: absolute;
    z-index: 2;
    left:0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    height: 100%;
    width: 8%;
    content: '';
}
.gradient-right{
    position: absolute;
    z-index: 2;
    right:0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    height: 100%;
    width:8%;
    content: '';
}
.gray-text {
    color: #6e7f87;
}
/*Get In Touch*/
.gitbg{
    position: relative;
    background-color: var(--purpleh);
    /*background-image: url("img/getintouch_bg.PNG");*/
    z-index: -100;
    height: 800px;
}
.getintouch-form{
    background-color: white;
    border-radius: 25px;
    max-width: 600px;
/* From https://css.glass
background: rgba(255, 255, 255, 0.73);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.5px);
-webkit-backdrop-filter: blur(12.5px);
border: 1px solid rgba(255, 255, 255, 0.25);
*/
}
.getintouch h2{
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 28px;
}
.getintouch p, label{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}
textarea, input{
    border-radius: 10px;
    border-width: 1px;
    border-color: #8EACE5;
    background-color: var(--lightblue);
}
.form-container{
    position: relative;
}
.footer{
    position: relative;
    z-index: -100;
    background-color: var(--white);
    height: 300px;
}
.footer-offset{
    margin-left: 80px;
}
.footer-a p{
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 16px;
}
.footer-a a{
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-a a:hover{
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: underline;
}
section p{
    color: black;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.services p, .contact p{
    color: black;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.button_so { 
    border: transparent;
    background-color: var(--purple);
    margin-top: 10px;
    transition: 0.3s;
}
.button_so p{
    font-family: Jost, sans-serif;
    color: white;
}
.button_so:hover{
    border: transparent;
    background-color: var(--purpleh);
}
.button_so_i{ 
    border: 1px solid white;
    background-color: var(--purple);
    margin-top: 10px;
    transition: 0.3s;
}
.button_so_i p{
    font-family: Jost, sans-serif;
    color: white;
}
.button_so_i:hover{
    border: 1px solid white;
    background-color: white;
}
.button_so_i:hover p{
    font-family: Jost, sans-serif;
    color: var(--purple);
}
/*Decal Section*/
.decal1{
    position: absolute; 
    transform: rotate(90deg);
    z-index: -10;
    right: -165px;
    top: 20px;
    /*animation: decal1anim 8s ease-in-out infinite;*/
}
.decal2{
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 60px;
}
.decal3{
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    right: -30px;
    top: 480px;
}
.decal_s1{
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    left: -152px;
    top: 550px;
}
.decal_s2{
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    right: -159px;
    top: -100px;
}
.decal_blob1 img{
    transform: rotate(200deg);
    position: absolute;
    z-index: -1;
    right: 40px;
    top: 0px;
    
}
.decal_blob2 img{
    transform: rotate(20deg);
    position: absolute;
    z-index: -1;
    right: 5px;
    top: 40px;
    width: 88%;
    height: 88%;
}
.bg-purple {
    background-color: var(--purple);
}
.bg-green {
    background-color: var(--green);
}
.contact-link1 {
    color: black;
    font-size: 26px;
    font-family: Lato, sans-serif;
}
/*keyframes*/
@keyframes decal1anim {
    0% {
        right: -165px;
    }
    50% {
        right: -230px; /* Adjust the distance to move left */
    }
    100% {
        right: -165px;
    }
}
@keyframes mh1 {
    0% {color: black;}
    1% {color: black;}
    2% {color: var(--purple);}
    25% {color: var(--purple);}
    27% {color: black;}
    50% {color: black;}
    75% {color: black;}
    100% {color: black;}
}
@keyframes mh2 {
    0% {color: black;}
    23% {color: black;}
    25% {color: var(--blue);}
    50% {color: var(--blue);}
    52% {color: black;}
    75% {color: black;}
    100% {color: black;}
}
@keyframes mhl2 {
    0% {fill: black;}
    23% {fill: black;}
    25% {fill: var(--blue);}
    50% {fill: var(--blue);}
    52% {fill: black;}
    75% {fill: black;}
    100% {fill: black;}
}
@keyframes mh3 {
    0% {color: black;}
    25% {color: black;}
    48% {color: black;}
    50% {color: var(--yellow);}
    75% {color: var(--yellow);}
    77% {color: black;}
    100% {color: black;}
}
@keyframes mh4 {
    0% {color: var(--orange);}
    2% {color: black;}
    25% {color: black;}
    50% {color: black;}
    73% {color: black;}
    75% {color: var(--orange);}
    100% {color: var(--orange);}
}